doctype html
html(lang='es')
  html
    head
      title Portafolio Asdrúbal González
      meta(charset='utf-8')
      meta(name='viewport', content='width=device-width, initial-scale=1')
      //
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/estilos.css">
      link(rel='stylesheet', href='assets/css/main.css')
    body.homepage
      #page-wrapper
        // Header
        #header
          // Inner
          .inner
            header
              h1
                a#logo(href='index.html') {JackWebDesing}
              hr
              p by Asdrúbal González
            footer
              a.button.circled.scrolly(href='#banner') Inicio
          // Nav
          nav#nav
            ul
              li
                a(href='index.html') Inicio
              li
                a(href='#') Siguiente
                ul
                  li
                    a(href='#') Lorem ipsum dolor
                  li
                    a(href='#') Magna phasellus
                  li
                    a(href='#') Etiam dolore nisl
                  li
                    a(href='#') And a submenu …
                    ul
                      li
                        a(href='#') Lorem ipsum dolor
                      li
                        a(href='#') Phasellus consequat
                      li
                        a(href='#') Magna phasellus
                      li
                        a(href='#') Etiam dolore nisl
                  li
                    a(href='#') Veroeros feugiat
              li
                a(href='left-sidebar.html') Izquierda-SideBar
              li
                a(href='right-sidebar.html') Derecha-SideBar
              li
                a(href='no-sidebar.html') Sin-Sidebar
        // Banner
        section#banner
          header
            h2
              | Hola, esto es un adelanto 
              strong {JackWebDesign}
              | .
            p
              | Se estan realizando cambios responsive 
              a(href='http://html5up.net', target='_blank') HTML5 UP
              | .
              |                             Construido con: 
              strong skel
              |  y versionado 
              a(href='http://html5up.net/license') CCA
              |  license.
        // Carousel
        section.carousel
          .reel
            article
              a.image.pasarella(href='#')
                img(src='images/pic01.jpg', alt='')
              header
                h3
                  a(href='#') BPM, BPMN
              p Business Process Management and Notation
            article
              a.image.pasarella(href='#')
                img(src='images/pic02.jpg', alt='')
              header
                h3
                  a(href='#') UX/UI Design
              p Productos que resuelvan necesidades concretas de sus usuarios finales
            article
              a.image.pasarella(href='#')
                img(src='images/pic03.jpg', alt='')
              header
                h3
                  a(href='#') Sed quis rhoncus placerat
              p Esto es para comenzar la jornada diaria con buenas prácticas.
            article
              a.image.pasarella(href='#')
                img(src='images/pic04.jpg', alt='')
              header
                h3
                  a(href='#') Ultrices urna sit lobortis
              p Esto es para comenzar la jornada diaria con buenas prácticas.
            article
              a.image.pasarella(href='#')
                img(src='images/pic05.jpg', alt='')
              header
                h3
                  a(href='#') Bootstrap 4
              p Diseño de páginas web a tráves de este framework
            article
              a.image.pasarella(href='#')
                img(src='images/pic01.jpg', alt='')
              header
                h3
                  a(href='#') Pulvinar sagittis congue
              p Esto es para comenzar la jornada diaria con buenas prácticas.
            article
              a.image.pasarella(href='#')
                img(src='images/pic02.jpg', alt='')
              header
                h3
                  a(href='#') Fermentum sagittis proin
              p Esto es para comenzar la jornada diaria con buenas prácticas.
            article
              a.image.pasarella(href='#')
                img(src='images/pic03.jpg', alt='')
              header
                h3
                  a(href='#') Sed quis rhoncus placerat
              p Esto es para comenzar la jornada diaria con buenas prácticas.
            article
              a.image.pasarella(href='#')
                img(src='images/pic04.jpg', alt='')
              header
                h3
                  a(href='#') Ultrices urna sit lobortis
              p Esto es para comenzar la jornada diaria con buenas prácticas.
            article
              a.image.pasarella(href='#')
                img(src='images/pic05.jpg', alt='')
              header
                h3
                  a(href='#') Varius magnis sollicitudin
              p Esto es para comenzar la jornada diaria con buenas prácticas.
        // Main
        .wrapper.style2
          article#main.container.special
            a.image.featured(href='#')
              img(src='images/pic06.jpg', alt='')
            header
              h2
                a(href='#') Licenciado en Administración mención Informática
              p
                | Capaz de planificar, dirigir y controlar el relevamiento, diseño, y ejecución de proyectos de tecnología de información (TI), para optimizar los procesos organizacionales que le otorgan competitividad a la organización.
            p
              | Conocimientos en sistemas operativos (Windows, Linux), Análisis y desarrollo de sistemas, Conocimiento de UML (Lenguaje de Modelado Unificado), Conocimientos de lenguajes de programación (PHP, Java (Orientados a objetos)), Herramientas Case (Vicio), Conocimientos de Project (Planificación de Proyectos), Conocimientos de Administrador de Bases de Datos MySQL, Conocimientos iniciales de XML, Conocimientos iniciales de SQL, Conocimientos iniciales de PL-SQL, Desarrollo de sistemas WEB, Conocimientos de lenguajes de programación (HTML5, JavaScript, CSS3, Bootstrap4, SASS, JQUERY, JSON), Conocimientos de UX/UI Design, Conocimientos de redes y hardware, Conocimientos en Herramientas de Ofimática (Word, Excel, Power Point, Acces), Conocimientos en Framework (Netbeans, Eclipse, SpringMVC), Testing de Aplicaciones, Conocimientos Business Process Management (B.P.M.), Conocimientos Business Process Management Notation (B.P.M.N.), Conocimiento en Gestión de Procesos de Negocio, Conocimiento en Gestión de Sistemas de información Gerencial.
            footer
              a.button(href='#') Continue Reading
        // Features
        .wrapper.style1
          section#features.container.special
            header
              h2 Morbi ullamcorper et varius leo lacus
              p
                | Ipsum volutpat consectetur orci metus consequat imperdiet duis integer semper magna.
            .row
              article.4u.special(class='12u(mobile)')
                a.image.featured(href='#')
                  img(src='images/pic07.jpg', alt='')
                header
                  h3
                    a(href='#') Gravida aliquam penatibus
                p
                  | Amet nullam fringilla nibh nulla convallis tique ante proin sociis accumsan lobortis. Auctor etiam
                  | porttitor phasellus tempus cubilia ultrices tempor sagittis. Nisl fermentum consequat integer interdum.
              article.4u.special(class='12u(mobile)')
                a.image.featured(href='#')
                  img(src='images/pic08.jpg', alt='')
                header
                  h3
                    a(href='#') Sed quis rhoncus placerat
                p
                  | Amet nullam fringilla nibh nulla convallis tique ante proin sociis accumsan lobortis. Auctor etiam
                  | porttitor phasellus tempus cubilia ultrices tempor sagittis. Nisl fermentum consequat integer interdum.
              article.4u.special(class='12u(mobile)')
                a.image.featured(href='#')
                  img(src='images/pic09.jpg', alt='')
                header
                  h3
                    a(href='#') Magna laoreet et aliquam
                p
                  | Amet nullam fringilla nibh nulla convallis tique ante proin sociis accumsan lobortis. Auctor etiam
                  | porttitor phasellus tempus cubilia ultrices tempor sagittis. Nisl fermentum consequat integer interdum.
        // Footer
        #footer
          .container
            .row
              // Tweets
              section.4u(class='12u(mobile)')
                header
                  h2.icon.fa-twitter.circled
                    span.label Tweets
                ul.divided
                  li
                    article.tweet
                      | Amet nullam fringilla nibh nulla convallis tique ante sociis accumsan.
                      span.timestamp 5 minutes ago
                  li
                    article.tweet
                      | Hendrerit rutrum quisque.
                      span.timestamp 30 minutes ago
                  li
                    article.tweet
                      | Curabitur donec nulla massa laoreet nibh. Lorem praesent montes.
                      span.timestamp 3 hours ago
                  li
                    article.tweet
                      | Lacus natoque cras rhoncus curae dignissim ultricies. Convallis orci aliquet.
                      span.timestamp 5 hours ago
              // Posts
              section.4u(class='12u(mobile)')
                header
                  h2.icon.fa-file.circled
                    span.label Posts
                ul.divided
                  li
                    article.post.stub
                      header
                        h3
                          a(href='#') Nisl fermentum integer
                      span.timestamp 3 hours ago
                  li
                    article.post.stub
                      header
                        h3
                          a(href='#') Phasellus portitor lorem
                      span.timestamp 6 hours ago
                  li
                    article.post.stub
                      header
                        h3
                          a(href='#') Magna tempus consequat
                      span.timestamp Yesterday
                  li
                    article.post.stub
                      header
                        h3
                          a(href='#') Feugiat lorem ipsum
                      span.timestamp 2 days ago
              // Photos
              section.4u(class='12u(mobile)')
                header
                  h2.icon.fa-camera.circled
                    span.label Photos
                .row(class='25%')
                  .6u
                    a.image.fit(href='#')
                      img(src='images/pic10.jpg', alt='')
                  .(class='6u$')
                    a.image.fit(href='#')
                      img(src='images/pic11.jpg', alt='')
                  .6u
                    a.image.fit(href='#')
                      img(src='images/pic12.jpg', alt='')
                  .(class='6u$')
                    a.image.fit(href='#')
                      img(src='images/pic13.jpg', alt='')
                  .6u
                    a.image.fit(href='#')
                      img(src='images/pic14.jpg', alt='')
                  .(class='6u$')
                    a.image.fit(href='#')
                      img(src='images/pic15.jpg', alt='')
            hr
            .row
              .12u
                // Contact
                section.contact
                  header
                    h3 ({Asdrúbal González})
                  p Espero que este espacio sea de su agrado.
                  ul.icons
                    li
                      a.icon.fa-twitter(href='#')
                        span.label Twitter
                    li
                      a.icon.fa-facebook(href='#')
                        span.label Facebook
                    li
                      a.icon.fa-instagram(href='#')
                        span.label Instagram
                    li
                      a.icon.fa-pinterest(href='#')
                        span.label Pinterest
                    li
                      a.icon.fa-dribbble(href='#')
                        span.label Dribbble
                    li
                      a.icon.fa-linkedin(href='#')
                        span.label Linkedin
                // Copyright
                .copyright
                  ul.menu
                    li © Untitled. All rights reserved.
                    li
                      | Design: 
                      a(href='http://html5up.net') HTML5 UP
      // Scripts de Jquerys y JavaScripts
      script(src='assets/js/jquery.min.js')
      script(src='assets/js/jquery.dropotron.min.js')
      script(src='assets/js/jquery.scrolly.min.js')
      script(src='assets/js/jquery.onvisible.min.js')
      script(src='assets/js/skel.min.js')
      script(src='assets/js/util.js')
      //if lte IE 8
        script(src='assets/js/ie/respond.min.js')
      script(src='assets/js/main.js')